body {
    background: rgb(0, 162, 255);
}
h2{
    font-style: italic;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    background-color: cornsilk;
    color: darkgray;
    text-align: center;

}
img{
    position: relative;
    left: 540px;
    right: 540px;

}
